@import './reset';

:root {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.wrapper {
  position: relative;
  max-width: 760px;
  min-height: 100vh;
  margin: 0 auto;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 15px 1px;
  width: 150px;
  box-shadow: 0 0 6px 1px red;
  font-size: 2.7rem;
  color: white;
  text-shadow: 0 0 8px red;
  font-style: italic;
  letter-spacing: 2px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: red;
    color: white;
  }
}
