@import './animations';

.first-screen {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  transition: 0.5s;
  &--hidden {
    opacity: 0;
  }
  &__title {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 100%;
    color: white;
    text-shadow: 0 0 8px red;
    font-size: 4rem;
    text-align: center;
    font-style: italic;
    animation: loadTitle 0.5s linear 0s 1;
    @media (min-width: 768px) {
      font-size: 6rem;
    }
  }
  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    animation: loadButton 0.5s linear 0s 1;
  }
}
